

@mixin flex($a: space-around, $b: center) {
    display: flex;
    justify-content: $a;
    align-items: $b;
    @content;
}

@keyframes m-trans0 {
    50% {
        background-image: url('/img/write-head1.png');
    }
}

@keyframes m-trans1 {
    50% {
        background-image: url('/img/write-body3.png');
    }
}

@keyframes m-trans2 {
    50% {
        background-image: url('/img/write-footer1.png');
    }
}
@keyframes m-trans3 {
    50% {
        background-image: url('/img/draw/palette1.png');
    }
}

//tool


@keyframes t-0 {
    50% {
        content: url('/img/draw/tool0-1.png')
    }
}
@keyframes t-1 {
    50% {
        content: url('/img/draw/tool1-1.png')
    }
}
@keyframes t-2 {
    50% {
        content: url('/img/draw/tool2-1.png')
    }
}
@keyframes t-e {
    50% {
        content: url('/img/draw/tool-empty1.png')
    }
}


//color


@keyframes c-black {
    50% {
        content: url('/img/draw/color-black1.png');
    }
}
@keyframes c-blue {
    50% {
        content: url('/img/draw/color-blue1.png');
    }
}
@keyframes c-red {
    50% {
        content: url('/img/draw/color-red1.png');
    }
}
@keyframes c-green {
    50% {
        content: url('/img/draw/color-green1.png');
    }
}
@keyframes c-yellow {
    50% {
        content: url('/img/draw/color-yellow1.png');
    }
}
@keyframes c-orange {
    50% {
        content: url('/img/draw/color-orange1.png');
    }
}
@keyframes c-puple {
    50% {
        content: url('/img/draw/color-puple1.png');
    }
}
@keyframes c-e {
    50% {
        content: url('/img/draw/color-empty1.png')
    }
}

//parts

@keyframes p-black {
    50% {
        content: url('/img/item/parts-black1.png')
    }
}
@keyframes p-blue {
    50% {
        content: url('/img/item/parts-blue1.png')
    }
}
@keyframes p-red {
    50% {
        content: url('/img/item/parts-red1.png')
    }
}
@keyframes p-green {
    50% {
        content: url('/img/item/parts-green1.png')
    }
}
@keyframes p-puple {
    50% {
        content: url('/img/item/parts-puple1.png')
    }
}
@keyframes p-orange {
    50% {
        content: url('/img/item/parts-orange1.png')
    }
}
@keyframes p-yellow {
    50% {
        content: url('/img/item/parts-yellow1.png')
    }
}
@keyframes p-e {
    50% {
        content: url('/img/item/parts-empty1.png')
    }
}



$c_width : 900px;
$w_head : calc($c_width / 16.428);
$w_body : calc($c_width / 1.945);
$w-foot : calc($c_width / 4.36);
$w-select-w : calc($c_width / 1.01);
$w-select-h : calc($w-select-w / 5.657);
$w-parts-w : calc($w-select-w * 0.09);
$w-parts-h : $w-parts-w;
// $w-parts-h : calc($w-parts-w / 5.6575);



@mixin top() {
    width: $c_width;
    height: $w_head;
    background-size: cover;
    margin-top: 65px;
    background-image: url('/img/write-head0.png');
    animation: m-trans0 1.2s step-end infinite;
    @content;
}
@mixin body() {
    width: $c_width;
    height: $w_body;
    background-size: cover;
    background-image: url('/img/write-body2.png');
    animation: m-trans1 1.7s step-end infinite;
    @content;
}
@mixin foot() {
    width: $c_width;
    height: $w_foot;
    background-size: cover;
    background-image: url('/img/write-footer0.png');
    animation: m-trans2 1.5s step-end infinite;
    @content;
}
@mixin select($a : $w-select-w, $b : $w-select-h) {
    width: $a;
    height: $b;
    // width: $w-select-w;
    // height: $w-select-h;
    background-size: cover;
    background-image: url('/img/draw/palette0.png');
    animation: m-trans3 1.5s step-end infinite;
    @content;
}








.wrap{
    padding-top: 70px;
    width: 100%;
    display: flex;
    align-items: center;
}
.drawBox{
    // position: relative;
    padding-left: 200px;
    @include flex(center, flex-start){
        flex-direction: column;
    }
    .top{
        @include top(){}
    }
    .body{
        padding: 50px 0 0 35px;
        @include body(){}
        @include flex(center,flex-start){
            flex-direction: column;
        }
        nav{
            padding-top: 20px;
            @include flex(){}
            // border: 1px solid #f00;
            .canWrap{
                @include flex(){
                    flex-direction: column;
                }
                .paint{
                    position: relative;
                    border: 4px solid rgba(73, 46, 20, .3);
                }
                .edit{
                    @include flex(){}
                    button{
                        border: 2px solid rgba(73, 46, 20, .7);
                        background: transparent;
                        position: relative;
                    }
                }
            }
            .tool{
                padding-left: 10px;
                @include flex(center,center){
                    flex-direction: column;
                }
                // border: 1px solid #f0f;
                .toolBtn{
                    position: relative;
                    border: none;
                    background: transparent;
                    width: 190px;
                    cursor: pointer;
                    // height: 20px;
                    img{
                        width: 100%;
                        height: auto;
                    }
                    .toolOne{
                        content: url('/img/draw/tool0-0.png');
                        animation: t-0 1.5s step-end infinite;
                    }
                    .toolTwo{
                        content: url('/img/draw/tool2-0.png');
                        animation: t-2 1.5s step-end infinite;
                    }
                    .toolTre{
                        content: url('/img/draw/tool1-0.png');
                        animation: t-1 1.5s step-end infinite;
                    }
                    .toolEmp{
                        content: url('/img/draw/tool-empty0.png');
                        animation: t-e 1.5s step-end infinite;
                    }
                }
            }
        }
    }
    .pallet{
        @include foot(){}
        @include flex(){}
        padding: 0 35px 25px 35px;
        .color{
            position: relative;
            width: 200px;
            cursor: pointer;
            border: none;
            background: transparent;
            img{
                width: 100%;
                height: auto;
            }
            .colorBla{
                content: url('/img/draw/color-black0.png');
                animation: c-black 1.5s step-end infinite;
            }
            .colorRed{
                content: url('/img/draw/color-red0.png');
                animation: c-red 1.5s step-end infinite;
            }
            .colorGre{
                content: url('/img/draw/color-green0.png');
                animation: c-green 1.5s step-end infinite;
            }
            .colorPup{
                color: #aa34d8;
                content: url('/img/draw/color-puple0.png');
                animation: c-puple 1.5s step-end infinite;
            }
            .colorBlu{
                color: #3468d8;
                content: url('/img/draw/color-blue0.png');
                animation: c-blue 1.5s step-end infinite;
            }
            .colorYel{
                color: #e2d51c;
                content: url('/img/draw/color-yellow0.png');
                animation: c-yellow 1.5s step-end infinite;
            }
            .colorOra{
                color: transparent;
                content: url('/img/draw/color-orange0.png');
                animation: c-orange 1.5s step-end infinite;
            }
            .colorEmp{
                color: transparent;
                content: url('/img/draw/color-empty0.png');
                animation: c-e 1.5s step-end infinite;
            }
            &:nth-child(2){
                ul{
                    left: -150px;
                }
            }
            &:nth-child(3){
                ul{
                    left: -300px;
                }
            }
            &:nth-child(4){
                ul{
                    left: -450px;
                }
            }
            ul{
                position: absolute;
                top: calc(60px - $w-select-h);
                left: 0;
                overflow: hidden;
                padding: 0 10px;
                z-index: 90;
                color: #d43d29;
                
                @include select(0,0){}
                li{
                    width: $w-parts-w;
                    height: $w-parts-h;
                    &:hover{
                        transform: scale(1.8);
                    }
                    img{
                        width: 100%;
                    }
                    &:nth-child(1){
                        animation: p-black 1.5s step-end infinite;
                    }
                    &:nth-child(2){
                        animation: p-blue 1.5s step-end infinite;
                    }
                    &:nth-child(3){
                        animation: p-red 1.5s step-end infinite;
                    }
                    &:nth-child(4){
                        animation: p-green 1.5s step-end infinite;
                    }
                    &:nth-child(5){
                        animation: p-puple 1.5s step-end infinite;
                    }
                    &:nth-child(6){
                        animation: p-yellow 1.5s step-end infinite;
                    }
                    &:nth-child(7){
                        animation: p-orange 1.5s step-end infinite;
                    }
                    &:nth-child(8){
                        animation: p-e 1.5s step-end infinite;
                    }

                }
            }
            &:hover{
                ul{
                    transition-delay: .3s;
                    @include select(){}
                    @include flex(){}
                }
            }
        }
    }
}

.textBox{
    font-family: 'Galmuri14';
    font-weight: bold;
    margin-left: 200px;
    position: relative;
    width: 200px;
    height: 300px;
    // background-color: #fff;
    // border: 1px solid #f00;
}