
@keyframes l-trans0 {
    0% {
      background: radial-gradient(circle, rgba(255, 255, 255, 0) 0%, rgba(0,0,0,.45) 50%);
    }
    25% {
      background: radial-gradient(circle, rgba(255, 255, 255, 0) 0%, rgba(0,0,0,.45) 45%);
    }
  50% {
      background: radial-gradient(circle, rgba(255, 255, 255, 0) 0%, rgba(0,0,0,.45) 40%);
    }
  75% {
      background: radial-gradient(circle, rgba(255, 255, 255, 0) 0%, rgba(0,0,0,.45) 45%);
    }
  100% {
      background: radial-gradient(circle, rgba(255, 255, 255, 0) 0%, rgba(0,0,0,.45) 50%);
    }
}
@keyframes l-trans1 {
    0% {
        background-image: url('/img/bug0.png');
    }
    100% {
        background-image: url('/img/bug1.png');
    }
}

.lNav{

}
.tWrap{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
}
.torch{
    animation: l-trans0 1s infinite linear;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-50%, -50%);
    width: 220%;
    height: 220%;
    transition: transform 0.8s ease-out, top 0.3s linear, left 0.3s linear;
}

.lamp{
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-50%, -50%);
    height: 50px;
    width: 50px;
    background-size: cover;
    background-image: url('/img/bug0.png');
    transition: transform 0.7s ease-out;
    animation: l-trans1 .8s infinite linear;
    // pointer-events: none;
}