

@mixin flex($a: space-around, $b: center) {
    display: flex;
    justify-content: $a;
    align-items: $b;
    @content;
}

$c_width : 864px;
$l_head : calc($c_width / 14.75);
$l_body : calc($c_width / 1.265);
$l_m_body : calc($c_width / 17.2083);
$l_title : calc($c_width / 3.047);
$l_m_width : calc($c_width / 2.3);
$l_m_title : calc($l_m_width / 3.5);

$c_bones : calc($c_width*0.6); 
$c_bones_h : calc($c_bones/1.5); 
// 1.5
//버튼
$l_b_width : calc($c_width / 3.8);
$l_m_btn : calc($l_b_width / 3.0263);


$l_foot : calc($c_width / 10.868);
$l_underline-w : calc($c_width / 1.1);
$l_underline-h : calc($l-underline-w / 29.5);



@keyframes m-trans0 {
    50% {
        background-image: url('/img/list-head1.png');
    }
}
@keyframes m-trans1 {
    50% {
        background-image: url('/img/list-body1.png');
    }
}
@keyframes m-trans2 {
    50% {
        background-image: url('/img/list-footer1.png');
    }
}
@keyframes m-trans3 {
    50% {
        background-image: url('/img/footer1.png');
    }
}
@keyframes m-trans4 {
    50% {
        content: url('/img/underline1.png');
    }
}
@keyframes m-trans5 {
    50% {
        background-image: url('/img/element/draw-btn1.png');
    }
}
@keyframes m-trans6 {
    50% {
        background-image: url('/img/main-box1.png');
    }
}
@keyframes m-trans7 {
    50% {
        background-image: url('/img/post/codename1.png');
    }
}
@keyframes m-trans8 {
    50% {
        background-image: url('/img/main-btn-true1.png');
    }
}
@keyframes m-trans9 {
    50% {
        content: url('/img/post/bburi-occ1.png');
    }
}
@keyframes m-trans10 {
    50% {
        content: url('/img/post/bada-occ1.png');
    }
}
@keyframes m-trans11 {
    50% {
        content: url('/img/post/bawi-occ1.png');
    }
}
@keyframes m-trans12 {
    50% {
        content: url('/img/post/bam-occ1.png');
    }
}
@keyframes m-trans13 {
    50% {
        background-image: url('/img/list-body9.png');
    }
}
@keyframes m-trans14 {
    50% {
        background-image: url('/img/main-btn-false0.png');
    }
}

@mixin top() {
    width: $c_width;
    height: $l_head;
    background-size: cover;
    background-image: url('/img/list-head0.png');
    animation: m-trans0 1.2s step-end infinite;
    @content;
}
@mixin body() {
    width: $c_width;
    height: $l_body;
    background-size: cover;
    background-image: url('/img/list-body0.png');
    animation: m-trans1 1.7s step-end infinite;
    @content;
}
@mixin m_body() {
    width: $c_width;
    height: $l_m_body;
    background-size: cover;
    background-image: url('/img/list-body8.png');
    animation: m-trans13 1.7s step-end infinite;
    @content;
}
@mixin titleBox() {
    width: $c_width;
    height: $l_title;
    background-size: cover;
    background-image: url('/img/main-box0.png');
    animation: m-trans6 1.7s step-end infinite;
    @content;
}
@mixin mainTitle() {
    width: $l_m_width;
    height: $l_m_title;
    background-size: cover;
    background-image: url('/img/post/codename0.png');
    animation: m-trans7 1.6s step-end infinite;
    @content;
}
@mixin foot() {
    width: $c_width;
    height: $l_foot;
    background-size: cover;
    background-image: url('/img/list-footer0.png');
    animation: m-trans2 1.5s step-end infinite;
    @content;
}
@mixin underline() {
    width: $l_underline-w;
    height: $l_underline-h;
    background-size: cover;
    content: url('/img/underline0.png');
    animation: m-trans4 1.5s step-end infinite;
    @content;
}
@mixin footer() {
    width: 100%;
    height: calc(100vw / 5.435);
    background-size: cover;
    background-image: url('/img/footer0.png');
    animation: m-trans3 1.5s step-end infinite;
    z-index: 8;
    position: relative;
    @content;
}
@mixin mainBtnTrue() {
    width: $l_b_width;
    height: $l_m_btn;
    background-size: cover;
    background-image: url('/img/main-btn-true0.png');
    animation: m-trans8 1.5s step-end infinite;
    position: relative;
    @content;
}
@mixin mainBtnFalse() {
    width: $l_b_width;
    height: $l_m_btn;
    background-size: cover;
    background-image: url('/img/main-btn-false1.png');
    animation: m-trans14 1.5s step-end infinite;
    position: relative;
    @content;
}




.Mwrap{
    @include flex (){
        flex-direction: column;
    }
    width: 100%;
    margin-top: 200px;
}
.Mtop{
    @include top(){};
    background-image: url('/img/list-head0.png');
}
.Mmid{
    @include body(){};
    background-image: url('/img/list-body0.png');
    @include flex(){
        flex-direction: column;
    }
    h2{
        color: #ddd;
        text-shadow: 2px 2px 2px #2b1f07;
        padding-top: 20px;
        font-size: 30px;
        padding-bottom: 10px;
        border-radius: 2px;
        // border-bottom: 4px solid rgba(82, 60, 19, .2);
    }
    h3{
        width: 60%;
        font-size: 26px;
    }
    p{
        // color: rgba(85, 64, 23, 0.8);
        font-size: 20px;
    }
    nav{
        width: 60%;
        @include flex(flex-end){}
    }
    span{
        width: 75%;
        height: 4px;
        background-color: rgba(82, 60, 19, .2);
    }
}
.bonescatch{
    width: $c_bones;
    height: $c_bones_h;
    border-radius: 6px;
    box-shadow: inset 4px 4px 20px rgba(70, 43, 17, .3), inset -4px -4px 7px rgba(243, 218, 200, 0.4);
    background-size: cover;
    background-position: 50% 50%;
    @include flex(flex-end,flex-end){}
}
.Mbot{
    @include foot(){};
    background-image: url('/img/list-footer0.png');
}
.footer{
    @include footer(){};
    background-image: url('/img/footer0.png');
}
.Write{
    position: fixed;
    bottom: 100px;
    right: 100px;
    width: 200px;
    height: 200px;
    animation: m-trans5 1.9s step-end infinite;
    background-image: url('/img/element/draw-btn0.png');
    background-size: cover;
    background-position: 50% 50%;
    z-index: 80;
    @include flex(){}
    &:hover{
        transform: scale(1.2);
    }
}
.underLine{
    @include underline(){}
}

.linkDetail{
    position: relative;
    border-radius: 4px;
    width: 130px;
    height: 40px;
    background-color: #553f12;
    border: 3px solid #2b1f07;
    color: #fff;
    font-weight: normal;
    @include flex(){}
}
.titleBox{
    padding-top: 10px;
    margin-bottom: 20px;
    @include titleBox(){};
    @include flex(space-between){
        flex-direction: column;
    }
    
    nav{
        width: 100%;
        @include flex(){}
        padding: 0 20px 40px;
    }
}
.mainTitle{
    @include flex(){}
    @include mainTitle(){}
    color: #ffffff;
    font-size: 35px;
    text-shadow: 3px 3px 2px #000000;
}
.bornBtn{
    cursor: pointer;
    @include mainBtnTrue(){}
    @include flex(){}
    padding-top: 10px;
    color: rgb(58, 37, 12);
    &:hover{
        transform: scale(1.05);
    }
}
.bornBtnActive{
    cursor: pointer;
    @include mainBtnFalse(){}
    @include flex(){}
    padding-top: 10px;
    color: rgb(212, 212, 212);
    &:hover{
        transform: scale(1.05);
    }
}

.bburi{
    animation: m-trans9 1.7s step-end infinite;
    transform: translate(40px, 60px);
    width: 200px;
    height: auto;
    content: url('/img/post/bburi-occ0.png');
}
.bada{
    animation: m-trans10 1.7s step-end infinite;
    transform: translate(40px, 60px);
    width: 200px;
    height: auto;
    content: url('/img/post/bada-occ0.png');

}
.bawi{
    animation: m-trans11 1.7s step-end infinite;
    transform: translate(40px, 60px);
    width: 200px;
    height: auto;
    content: url('/img/post/bawi-occ0.png');
    
}
.bam{
    animation: m-trans12 1.7s step-end infinite;
    transform: translate(40px, 60px);
    width: 200px;
    height: auto;
    content: url('/img/post/bam-occ0.png');

}
.mBody{
    @include m_body(){}
    @include flex(center,flex-start){
        flex-direction: column;
    }
    padding: 0 80px;
    h4{
        padding-left: 20px;
        font-size: 26px;
        color: #2c1f0b;
        font-weight: bold;
    }
    span{
        border-radius: 2px;
        margin-top: 10px;
        width: 100%;
        height: 4px;
        background-color: rgba(82, 60, 19, .2);
    }
}

