
@mixin flex($a: space-around, $b: center) {
    display: flex;
    justify-content: $a;
    align-items: $b;
    @content;
}

$c_width : 1400px;
$l_head : calc($c_width / 14.75);
$l_body : calc($c_width / 1.265);
$l-foot : calc($c_width / 10.868);

@keyframes m-trans0 {
    0% {
        content: url('/img/fire0.png');
    }
    100% {
        content: url('/img/fire1.png');
    }
}
@keyframes m-trans1 {
    0% {
        content: url('/img/footer0.png');
    }
    100% {
        content: url('/img/footer1.png');
    }
}
@keyframes m-trans2 {
    0% {
        content: url('/img/list-head0.png');
    }
    100% {
        content: url('/img/list-head1.png');
    }
}
@keyframes m-trans3 {
    0% {
        content: url('/img/list-body0.png');
    }
    100% {
        content: url('/img/list-body1.png');
    }
}
@keyframes m-trans4 {
    0% {
        content: url('/img/list-footer0.png');
    }
    100% {
        content: url('/img/list-footer1.png');
    }
}

.Mwrap{
    @include flex (){
        flex-direction: column;
    }
    width: 100%;
    margin-top: 200px;
    border: 2px solid #f0f;
}
.Mtop{
    animation: m-trans2 1.5s infinite linear;
    content: url('/img/list-head0.png');
    width: 1400px;
}
.Mmid{
    animation: m-trans3 1.5s infinite linear;
    content: url('/img/list-body0.png');
    width: 1400px;
}
.Mbot{
    animation: m-trans4 1.5s infinite linear;
    content: url('/img/list-footer0.png');
    width: 1400px;
}
.fire{
    animation: m-trans0 .7s infinite linear;
    content: url('/img/fire0.png');
    width: 600px;
    height: auto;
    position: fixed;
    top: 10%;
    right: -250px;
    transform: rotate(-15deg);
    border: 1px solid;
}
.footer{
    animation: m-trans1 1s infinite linear;
    width: 100%;
    height: auto;
    content: url('/img/footer0.png');
}

.test{
    width: $c_width;
    height: calc($c_width / 14.5);
    background-image: url('/img/list-footer0.png');
    background-size: cover;
    // height: auto;
}