@mixin flex($a: space-around, $b: center) {
    display: flex;
    justify-content: $a;
    align-items: $b;
    @content;
}



@keyframes po-trans0 {
    50% {
        background-image: url('/img/list-head1.png');
    }
}
@keyframes po-trans1 {
    50% {
        background-image: url('/img/list-body7.png');
    }
}
@keyframes po-trans2 {
    50% {
        background-image: url('/img/list-footer1.png');
    }
}


@keyframes po-trans3 {
    50% {
        background-image: url('/img/post/codename1.png');
    }
}
@keyframes po-trans4 {
    50% {
        background-image: url('/img/post/input1.png');
    }
}
@keyframes po-trans5 {
    50% {
        background-image: url('/img/post/check1.png');
    }
}
@keyframes po-trans6 {
    50% {
        background-image: url('/img/list-body9.png');
    }
}
@keyframes po-trans7 {
    50% {
        background-image: url('/img/post/right1.png');
    }
}
@keyframes po-trans8 {
    50% {
        background-image: url('/img/post/wrong1.png');
    }
}

@keyframes an-open {
    0% {
        transform: scale(0);
    }
    30%{
        transform: scale(1.5);
    }
    50%{
        transform: scale(.9);
    }
    100% {
        transform: scale(1);
    }
  }
// @keyframes an-open {
//     0% {
//         transform: translate(-50%, -300%);
//     }
//     25%{
//         transform: translate(-50%, -40%);
//     }
//     45%{
//         transform: translate(-50%, -55%);
//     }
//     100% {
//         transform: translate(-50%, -50%);
//     }
//   }


$c_width : 840px;
$c_b_width : calc($c_width / 2);
$l_head : calc($c_width / 14.75);
$l_body : calc($c_width / 5.067);
$l_body_main : calc($c_width / 1.746);
$l-foot : calc($c_width / 10.868);
$l-input : calc($c_width / 8.26);
$l-body_c : calc($c_width / 17.2083);

$I_btn_w : calc($c_width / 5);
$I_btn_h : calc($I_btn_w / 1.7065);

//1.7065


$po_width : 800px;
$po_head : calc($po_width / 14.75);
$po_body : calc($po_width / 5.067);
$po_body_main : calc($po_width / 1.746);
$po-foot : calc($po_width / 10.868);


//정답 팝업
// 2.4363


// $an_width : calc($c_width / 0.9);
$an_width : 700px;
$an_height : calc($an_width / 2.4363);


$I_btn2_w : 130px;
$I_btn2_h : calc($I_btn2_w / 1.7065);



// $topBot : $l_head + $l-foot;
// $b_height1 : $topBot + $l_body_main;
// $b_height0 : $topBot + $l_body;
// $c_b_height1 : $b_height1 / 2;
// $c_b_height0 : $b_height0 / 2;


$w-select-w : calc($c_width);
$w-select-h : calc($w-select-w / 5.657);





@mixin top($a:$c_width, $b:$l_head) {
    width: $a;
    height: $b;
    background-size: cover;
    background-image: url('/img/list-head0.png');
    animation: po-trans0 1.2s step-end infinite;
    @content;
}
@mixin body($a:$c_width, $b:$l_body) {
    width: $a;
    height: $b;
    background-size: cover;
    background-image: url('/img/list-body2.png');
    animation: po-trans1-1 1.7s step-end infinite;
    @content;
}
@mixin body_s($a:$c_width, $b:$l_body_main) {
    width: $a;
    height: $b;
    background-size: cover;
    background-image: url('/img/list-body6.png');
    animation: po-trans1 1.7s step-end infinite;
    @content;
}
@mixin foot($a:$c_width, $b:$l_foot) {
    width: $a;
    height: $b;
    background-size: cover;
    background-image: url('/img/list-footer0.png');
    animation: po-trans2 1.5s step-end infinite;
    @content;
}
@mixin inputBox($a:$c_width, $b:$l_input) {
    width: $a;
    height: $b;
    background-size: cover;
    background-image: url('/img/post/input0.png');
    animation: po-trans4 1.5s step-end infinite;
    @content;
}
@mixin inputBtn($a:$I_btn_w, $b:$I_btn_h) {
    width: $a;
    height: $b;
    background-size: cover;
    background-image: url('/img/post/check0.png');
    animation: po-trans5 1.5s step-end infinite;
    @content;
}
@mixin inputBtn2($a:$I_btn2_w, $b:$I_btn2_h) {
    width: $a;
    height: $b;
    background-size: cover;
    background-image: url('/img/post/check0.png');
    animation: po-trans5 1.5s step-end infinite;
    @content;
}
@mixin body_c($a:$c_width, $b:$l-body_c) {
    width: $a;
    height: $b;
    background-size: cover;
    background-image: url('/img/list-body8.png');
    animation: po-trans6 1.5s step-end infinite;
    @content;
}




.postWrap{
    width: 100%;
    overflow: hidden;
    // border: 8px solid #f00;
}

.boxWrap{
    padding-top: 200px;
    // position: absolute;
    // top: calc(50% - $c_b_height1);
    // left: calc(50% - $c_b_width);
    @include flex(center){
        flex-direction: column;
    }
}
.boxTop{
    @include top(){}
    @include flex(){}
}
.boxMid{
    padding-top: 20px;
    @include flex(){
        flex-direction: column;
    }
    @include body_s(){}
    nav{
        @include flex(){};
        h3{
            margin-right: 10px;
            font-size: 40px;
            color: #fff;
            text-shadow: 3px 1px 2px rgb(44, 44, 44);
        }
        h2{
            color: #fff;
            text-shadow: 3px 1px 2px rgb(44, 44, 44);
            padding-left: 10px;
            font-size: 40px;
        }
    }
}
.boxBot{

    @include foot(){}
}
.boxTop1{
    @include top($po_width, $po_head){}
    @include flex(){}
}
.boxMid1{
    @include body_s($po_width, $po_body_main){}
}
.boxBot1{

    @include foot($po_width, $po_foot){}
}
.bonescatch{
    width: 60%;
    border: 4px solid rgba(70, 43, 17, .1);
    box-shadow: inset 4px 4px 20px rgba(70, 43, 17, .3), inset -4px -4px 7px rgba(243, 218, 200, 0.4);
}
.codeNameBox{
    width: 350px;
    height: 100px;
    background-image: url('/img/post/codename0.png');
    background-size: cover;
    margin-bottom: 45px;
    animation: po-trans3 1.2s step-end infinite;
    @include flex(){

    }
    h1{
        color: #eee;
        font-size: 30px;
    }
}
.titleState{
    @include body(){}
    nav{
        @include inputBox(){}
        @include flex(){}
        form{
            @include flex(){}
            position: relative;
            width: 100%;
            padding: 0 20px 0 30px;
            input[type=text]{
                width: calc($c_width / 1.55);
                height: 45px;
                border: none;
                background-color: transparent;
                font-size: 20px;
                padding-left: 20px;
                &::placeholder{
                    color: #251b07;
                }
            }
            input[type=submit]{
                @include inputBtn(){}
                cursor: pointer;
                background-color: transparent;
                border: none;
            }
        }
    }
}
.commentBox{
    @include body_c(){}
    @include flex(){
        flex-direction: column;
    }
    nav{
        width: 100%;
        padding: 0 80px 0 60px;
        @include flex(space-between){}
        div{
            @include flex(){}
            img{
                width: 40px;
                height: 40px;
                margin-right: 10px;
            }
            h4{
                width: 110px;
                // border: 1px solid #f00;
                // color: #fff;
                // font-weight: 600;
                font-size: 20px;
                // padding-right: 50px;
            }
            h3{
                font-size: 24px;
            }
        }
        h5{
            font-size: 20px;
            padding-right: 20px;
        }
    }
    span{
        margin-left: 150px;
        width: 70%;
        height: 4px;
        background-color: rgba(83, 56, 24,.3);
    }
}

.bburi{
    color: #c4cbe6;
    text-shadow: 1px 1px 2px rgb(0, 34, 253);
}
.bada{
    color: #e7c8c7;
    text-shadow: 1px 1px 2px #e9231c;
}
.bawi{
    color: #ece2d4;
    text-shadow: 1px 1px 2px #ff9100;
}

.bam{
    color: #dbcbe4;
    text-shadow: 1px 1px 2px #7e00c7;
}
.bburiIcon{
    content: url('/img/tribe/bburi-icon.png');
}
.badaIcon{
    content: url('/img/tribe/bada-icon.png');
}
.bawiIcon{
    content: url('/img/tribe/bawi-icon.png');
}
.bamIcon{
    content: url('/img/tribe/bam-icon.png');

}
.right{
    position: fixed;
    z-index: 50;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,.5);
    top: 0;
    left: 0;
    overflow: hidden;
    @include flex(){}
    figure{
        width: $an_width;
        height: $an_height;
        animation: an-open 1s forwards;
        nav{
            position: relative;
            width: 100%;
            height: 100%;
            animation: po-trans7 1.7s step-end infinite;
            background-image: url('/img/post/right0.png');
            background-size: cover;
            div{
                position: absolute;
                bottom: 40px;
                right: 120px;
                @include inputBtn2(){}
                cursor: pointer;
            }
        }
    }
}
.wrong{
    position: fixed;
    z-index: 50;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,.5);
    top: 0;
    left: 0;
    overflow: hidden;
    @include flex(){}
    figure{
        animation: an-open 1s forwards;
        width: $an_width;
        height: $an_height;
        nav{
            position: relative;
            width: 100%;
            height: 100%;
            animation: po-trans8 1.7s step-end infinite;
            background-image: url('/img/post/wrong0.png');
            background-size: cover;
            div{
                position: absolute;
                bottom: 40px;
                right: 120px;
                @include inputBtn2(){}
                cursor: pointer;
            }
        }
    }

}
// .daPactive{
//     display: block;
//     figure{
//         
//         nav{
            
//         }
//     }
// }