///////////////////////
@mixin flex($a: space-around, $b: center) {
  display: flex;
  justify-content: $a;
  align-items: $b;
  @content;
}

@keyframes move0 {
  0% {
    bottom: -2000px;
  }
  100% {
    bottom: 0;
  }
}
@keyframes trans0 {
  50% {
    background-image: url("/img/shop/shop-bg1.png");
  }
}

$shop_h: calc(100vh - 150px);
$shop_w: calc($shop_h / 0.1852);

.shop_btn {
  position: relative;
  margin-top: 200px;
}

.shop_main {
  position: relative;
  z-index: 1;
  .shop {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    .wrap {
      height: $shop_h;
      width: $shop_w;
      position: absolute;
      left: 50%;
      bottom: -2000px;
      transform: translateX(-50%);
      animation: move0 1.5s forwards;

      .doduzi {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-image: url("/img/shop/shop-bg0.png");
        animation: trans0 1.5s step-end infinite;

        .shop_section {
          width: 90vh;
          height: 30vh;
          z-index: 10;
          top: 65%;
          left: 50%;
          position: relative;
          transform: translate(-50%, -50%);

          .shop_item {
            height: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            .pen {
              width: 40%;
              height: 50%;
              position: relative;
              cursor: pointer;

              &:nth-child(n + 3) {
                width: 50%;
                scale: 1.3;
              }
              .shop_item_image_space {
                height: 100%;
                position: relative;
                > img {
                  margin: 0 auto;
                  height: 100%;
                  object-fit: cover;
                  filter: drop-shadow(5px 5px 5px);
                }
              }
            }
            .paint {
              width: 20%;
              height: 50%;
              position: relative;
              cursor: pointer;

              &:nth-child(n + 5) {
                width: 25%;
                scale: 1.3;
              }
              .shop_item_image_space {
                height: 100%;
                > img {
                  margin: 0 auto;
                  height: 100%;
                  object-fit: cover;
                  filter: drop-shadow(5px 5px 5px);
                }
              }
            }
          }
        }
      }
    }
  }
}
