

@mixin flex($a: space-around, $b: center) {
    display: flex;
    justify-content: $a;
    align-items: $b;
    @content;
}

//가이드

$g_talk_w : 700px;
$g_talk_h : calc($g_talk_w / 2.5);

//아이템 팝업

$item_pop_w : 700px;
$item_pop_h : calc($item_pop_w / 1.25);

$item_pop_img: calc(700px / 3); 


@keyframes m-trans15 {
    50% {
        content: url('/img/tribe/bburi-true1.png');
    }
}
@keyframes m-trans16 {
    50% {
        content: url('/img/tribe/bada-true1.png');
    }
}
@keyframes m-trans17 {
    50% {
        content: url('/img/tribe/bawi-true1.png');
    }
}
@keyframes m-trans18 {
    50% {
        content: url('/img/tribe/bam-true1.png');
    }
}
@keyframes m-trans19 {
    50% {
        background-image: url('/img/element/talk1.png');
    }
}
@keyframes m-trans20 {
    0%{
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
}
@keyframes m-trans21 {
    50% {
        content: url('/img/item/wallet1.png');
    }
}
@keyframes m-trans22 {
    50% {
        content: url('/img/item/parts-yellow1.png');
    }
}
@keyframes m-trans23 {
    50% {
        content: url('/img/item/parts-puple1.png');
    }
}
@keyframes m-trans24 {
    50% {
        content: url('/img/item/tool1-1.png');
    }
}
@keyframes m-trans25 {
    50% {
        content: url('/img/item/parts-black1.png');
    }
}
@keyframes m-trans26 {
    50% {
        color: rgba(255,255,255,.5);
    }
}
@keyframes m-trans27 {
    50% {
        background-image: url('/img/item/get-item-box1.png');
    }
}
@keyframes m-trans28 {
    50% {
        content: url('/img/item/parts-blue1.png');
    }
}
@keyframes m-trans29 {
    50% {
        content: url('/img/item/parts-black1.png');
    }
}
@keyframes m-trans30 {
    50% {
        content: url('/img/item/parts-orange1.png');
    }
}
@keyframes m-trans31 {
    50% {
        content: url('/img/item/parts-puple1.png');
    }
}
@keyframes m-trans32 {
    50% {
        content: url('/img/item/parts-white1.png');
    }
}
@keyframes get-item {
    0% {
        transform: scale(0);
    }
    30%{
        transform: scale(1.5);
    }
    50%{
        transform: scale(.9);
    }
    100% {
        transform: scale(1);
    }
}

.guide{
    z-index: 110;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    overflow: hidden;
    background-color: rgba(0,0,0,.5);
}
.bburiJokjang{
    position: absolute;
    left: -6%;
    bottom: -150px;
    width: calc(15% + 300px);
    height: auto;
    background-size: cover;
    content: url('/img/tribe/bburi-true0.png');
    animation: m-trans15 1.2s step-end infinite;
}
.badaJokjang{
    position: absolute;
    left: -6%;
    bottom: -15%;
    width: calc(15% + 300px);
    height: auto;
    background-size: cover;
    content: url('/img/tribe/bada-true0.png');
    animation: m-trans16 1.2s step-end infinite;
}
.bawiJokjang{
    position: absolute;
    left: -6%;
    bottom: -150px;
    width: calc(15% + 300px);
    height: auto;
    background-size: cover;
    content: url('/img/tribe/bawi-true0.png');
    transform: scaleX(-1);
    animation: m-trans17 1.2s step-end infinite;
}
.bamJokjang{
    position: absolute;
    left: -6%;
    bottom: -150px;
    width: calc(15% + 300px);
    height: auto;
    background-size: cover;
    content: url('/img/tribe/bam-true0.png');
    animation: m-trans18 1.2s step-end infinite;
}
.talk{
    -ms-user-select: none; 
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    width: $g_talk_w;
    height: $g_talk_h;
    background-size: cover;
    background-image: url('/img/element/talk0.png');
    position: absolute;
    right: 50%;
    bottom: 20px;
    padding: 55px 55px 65px;
    transform: translateX(50%);
    animation: m-trans19 1.4s step-end infinite;
    figure{
        width: 100%;
        height: 100%;
        @include flex(space-between, flex-start){
            flex-direction: column;
        }
        div{
            @include flex(center, flex-start){
                flex-direction: column;
            }
            h3{
                font-size: 22px;
                word-break:break-all;
                color: #000;
                padding-bottom: 10px;
            }
            h5{
                
                font-size: 18px;
                word-break:break-all;
                color: rgb(87, 87, 87);
                padding-bottom: 15px;
            }
        }
        nav{
            width: 100%;
            @include flex(flex-end){}
            h4{
                margin-left: 20px;
                color: rgb(43, 43, 43);
                cursor: pointer;
                font-size: 28px;
                text-shadow: 2px 2px 2px rgba(0,0,0,.5);
                &:hover{
                    color: rgb(190, 149, 72);
                    text-shadow: 2px 2px 2px rgba(0,0,0,1);
                }
                
            }
        }
    }
}
.tyuDraw{
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 300px;
    height: 300px;
    animation: m-trans5 1.9s step-end infinite;
    background-image: url('/img/element/draw-btn0.png');
    background-size: cover;
}
.tyuMark{
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    position: absolute;
    img{
        top: 50%;
        left: 50%;
        position: absolute;
        width: 200px;
        height: auto;
        &:nth-child(1){
            transform: translate(-150%, -50%);
            animation: m-trans9 1.7s step-end infinite;
            content: url('/img/post/bburi-occ0.png');
        }
        &:nth-child(2){
            transform: translate(-85%, -50%);
            animation: m-trans10 1.6s step-end infinite;
            content: url('/img/post/bada-occ0.png');
        }
        &:nth-child(3){
            transform: translate(-20%, -50%);
            animation: m-trans11 1.8s step-end infinite;
            content: url('/img/post/bawi-occ0.png');
        }
        &:nth-child(4){
            transform: translate(50%, -50%);
            animation: m-trans12 1.5s step-end infinite;
            content: url('/img/post/bam-occ0.png');
        }
    }
}
.tyuGi{
    padding: 20px 20px 20px 60px;
    border-radius: 16px;
    border: 5px solid rgb(12, 6, 1);
    background-color: rgb(158, 110, 55);
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include flex(){}
    h1{
        color: #fff;
    }
    div{
        width: 250px;
        height: 100px;
        position: relative;
        @include flex(flex-start){}
        article{
            @include flex(flex-start){}
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            position: absolute;
            span{
                width: 50px;
                height: 50px;
                background-color: rgba(94, 65, 3, .3);
                border-radius: 50%;
                margin: 0 10px;
                border: 3px solid rgba(37, 31, 31, .3);
            }
        }
        p{
            width: 50px;
            height: 50px;
            background-color: rgb(94, 65, 3);
            border-radius: 50%;
            margin: 0 10px;
            border: 3px solid rgb(37, 31, 31);
            
            animation: m-trans20 1.2s step-end infinite;
        }
    }
}
.tyuCoin{
    width: 400px;
    height: 400px;
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: url('/img/item/wallet0.png');
    animation: m-trans21 1.2s step-end infinite;
}
.tyuTool{
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    position: absolute;
    img{
        top: 50%;
        left: 50%;
        position: absolute;
        width: 200px;
        height: auto;
        &:nth-child(1){
            transform: translate(-150%, -50%);
            animation: m-trans22 1.7s step-end infinite;
            content: url('/img/item/parts-yellow0.png');
        }
        &:nth-child(2){
            transform: translate(-85%, -50%);
            animation: m-trans23 1.6s step-end infinite;
            content: url('/img/item/parts-puple0.png');
        }
        &:nth-child(3){
            transform: translate(-20%, -50%);
            animation: m-trans24 1.8s step-end infinite;
            content: url('/img/item/tool1-0.png');
        }
        &:nth-child(4){
            transform: translate(50%, -50%);
            animation: m-trans25 1.5s step-end infinite;
            content: url('/img/item/parts-black0.png');
        }
    }
}


.addItemOne{
    position: fixed;
    z-index: 50;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,.6);
    top: 0;
    left: 0;
    overflow: hidden;
    @include flex(){}
    figure{
        animation: get-item 1s forwards;
        @include flex(center, center){
            flex-direction: column;
        }
        h1{
            font-size: 18px;
            font-weight: normal;
            color: #eee;
            text-shadow: 2px 2px 2px #2b1f07;
            padding-top: 10px;
            animation: m-trans26 1.5s step-end infinite;
        }
        nav{
            animation: m-trans27 1.5s step-end infinite;
            padding: 30px 0 0 20px;
            width: $item_pop_w;
            height: $item_pop_h;
            background-size: cover;
            background-image: url('/img/item/get-item-box0.png');
            @include flex(center,center){
                flex-direction: column;
            }
            img{
                width: $item_pop_img;
                height: $item_pop_img;
                margin-bottom: 40px;
            }
            div{
                padding: 20px;
                width: calc($item_pop_w / 1.7);
                height: calc($item_pop_h / 5);
                @include flex(){}
                h6{
                    word-break:break-all;
                    font-size: 20px;
                }
            }
        }
    }
}
.hideItem{
    display: none;
}

.bburiItem{
    img{
        content: url('/img/item/parts-blue0.png');
        animation: m-trans28 1.5s step-end infinite;
    }
    b{
        color: rgb(44, 67, 201);
    }
}
.badaItem{
    img{
        content: url('/img/item/parts-black0.png');
        animation: m-trans29 1.7s step-end infinite;

    }
    b{
        color: #fff;
    }
}
.bawiItem{
    img{
        content: url('/img/item/parts-orange0.png');
        animation: m-trans30 1.7s step-end infinite;

    }
    b{
        color: #f79e18;
    }
}
.bamItem{
    img{
        content: url('/img/item/parts-puple0.png');
        animation: m-trans31 1.7s step-end infinite;
    }
    b{
        color: rgb(132, 34, 145);
    }
}
.shellCoinGet{
    img{
        content: url('/img/item/parts-white0.png');
        animation: m-trans32 1.7s step-end infinite;
    }
    b{
    }

}